body {
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.499)), url('pizza-image.jpeg');
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem;
    font-size: 20px;
    color: white;
}

#content {
    display: flex; 
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.879);
    box-shadow: 0px 2px 3px rgb(29, 29, 29);
    gap: 1.5rem;
    padding-top: 3.5rem; 
}

.homepage, .menupage {
    width: 30em;
    background-color: rgba(0, 0, 0, 0.762);
    border: 0.1em white solid; 
    border-radius: 10px;
} 

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem; 
    height: 25em;
}

.menupage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.menu-box {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
    width: 12em; 
    height: 14em; 
    background-color: rgba(0, 0, 0, 0.573);
    border-radius: 1rem; 
}

.menu-box:hover {
    cursor: pointer; 
    transform: scale(1.07);
    background-color: rgba(42, 42, 42, 0.573);
}

.pizza-image {
    width: 60%; 
}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; 
}

.image {
    width: 60%;
}

.title, ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.title {
    font-size: 3em;
}

ul {
    list-style: none;
    gap: 3em; 
    font-size: 1.5em;
}

li:hover {
    cursor: pointer;
    transform: scale(1.07);
}